.DS_Store
.build/
*.pock
!BatteryClock-1.3.pock.zip
.vscode/
xcuserdata/
DerivedData/
.swiftpm/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
