<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>BatteryClock</string>
    <key>CFBundleIdentifier</key>
    <string>com.andreashworth.batteryclock</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BatteryClock</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.5</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025 Andre Ashworth. All rights reserved.</string>
    <key>NSPrincipalClass</key>
    <string>BatteryClock.BatteryClockWidget</string>
    <key>PKWidgetAuthor</key>
    <string>Andre Ashworth</string>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
</dict>
</plist> 